<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>  <!-- for date formatting; probably overkill-->

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <title>Accounts Coding Test</title>
    <style>
      html, body {
        height: 100%;
        width: 100%;
        font-family: Roboto, Helvetica, Arial, sans-serif
      }
      article {
        height: 100%;
        grid-template-columns:1fr;
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: 100px 1fr 150px;
      }
      header {
        grid-area: header;
        background-color:#006643;
        color: #fff;
        grid-template-columns: 1% 98% 1%;
      }
      h1 {
        font-size: 3em;
        font-weight: bold;
      }
      h2 {
        font-size: 2em;
        color:#006643;
      }
      h3 {
        display: block;
        font-size: 1.5em;
        color:#006643;
      }
      main {
        grid-area: main;
      }
      footer {
        grid-area: footer;
        background-color:#006643;
        color: #fff;
        grid-template-columns: 1% 98% 1%;
        grid-template-rows: 5% 90% 5%;
      }
      .grid {
        display: grid;
      }
      .title-container {
        grid-column-start: 2;
        align-self: center;
      }
      #home-content {
        grid-row-gap: 25px;
        grid-template-rows: 10px 100px auto;
      }
      #account-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-start: 3;
      }
      .account-column {
        grid-template-rows: 2em repeat(2, 10em);
      }
      .content-title-container {
        justify-self: center;
        height: 1em;
        grid-row-start: 2;
      }
      #overdue-account-container-title > h3{
        color: #B22222;
      }
      #inactive-account-container-title > h3 {
        color:#808080;
      }
      .account-container {
        justify-self: center;
        height: 5em;
      }
      .account-container-title {
        justify-self: center;
      }
      .account-data-list {
        list-style: none;
      }
      .account-data-list > li {
        margin: 10px 0;
      }
      .account-data-list > li > label {
        font-weight: bold;
        margin: 0 5px 0 0;
      }
      .copy {
        place-self: end;
        grid-row-start: 2;
        grid-column-start: 2;
      }
    </style>
  </head>

  <body>
    <div>
    	<article class="grid">
	      <header class="grid">
	        <div class="title-container">
	          <h1>Coding Test</h1>
	        </div>
	      </header>
	      <main class="content grid" id="home-content">
	        <div class="content-title-container">
	          <h2>Accounts</h2>
	        </div>
	        <section class="grid" id="account-grid">
	          <section class="account-column grid" id="active-account-column">
	            <div class="account-container-title" id="active-account-container-title">
	              <h3>Active</h3>
	            </div>
	            <div class="account-container active-account" v-for="account in activeAccounts" :key="account.Id">
	              <ul class="account-data-list">
	                <li><label>Name:</label>{{account.LastName}}, {{account.FirstName}}</li>
	                <li><label>Email:</label>{{account.Email}}</li>
	                <li><label>Phone Number:</label>{{account.PhoneNumber | phone}}</li>
	                <li><label>Amount Due:</label>{{account.AmountDue | toCurrency}}</li>
	                <li v-if="account.PaymentDueDate != null" ><label>Due Date:</label>{{account.PaymentDueDate | formatDate}}</li>
	              </ul>
	            </div>     
	          </section>
	          <section class="account-column grid" id="overdue-account-column">
	            <div class="account-container-title" id="overdue-account-container-title">
	              <h3>Overdue</h3>
	            </div>
	            <div class="account-container overdue-account" v-for="account in overdueAccounts" :key="account.Id">
	              <ul class="account-data-list">
	                <li><label>Name:</label>{{account.LastName}}, {{account.FirstName}}</li>
	                <li><label>Email:</label>{{account.Email}}</li>
	                <li><label>Phone Number:</label>{{account.PhoneNumber | phone}}</li>
	                <li><label>Amount Due:</label>{{account.AmountDue | toCurrency}}</li>
	                <li v-if="account.PaymentDueDate != null" ><label>Due Date:</label>{{account.PaymentDueDate | formatDate}}</li>
	              </ul>
	            </div>
	          </section>
	          <div class="account-column grid" id="inactive-account-column">
	            <div class="account-container-title" id="inactive-account-container-title">
	              <h3>Inactive</h3>
	            </div>
	            <div class="account-container inactive-account" v-for="account in inactiveAccounts" :key="account.Id">
	              <ul class="account-data-list">
	                <li><label>Name:</label>{{account.LastName}}, {{account.FirstName}}</li>
	                <li><label>Email:</label>{{account.Email}}</li>
	                <li><label>Phone Number:</label>{{account.PhoneNumber | phone}}</li>
	                <li><label>Amount Due:</label>{{account.AmountDue | toCurrency}}</li>
	                <li v-if="account.PaymentDueDate != null" ><label>Due Date:</label>{{account.PaymentDueDate | formatDate}}</li>
	              </ul>
	            </div>
	          </div>
	        </section>
	      </main>
	      <footer class="grid">
	        <p class="copy">&copy;<script>document.write(new Date().getFullYear())</script></p>
	      </footer>
	    </article>
		</div>

    <script>

    	// ToDo: refactor these filters to common area
    	Vue.filter('formatDate', function(value) {  // Thanks to https://forum.vuejs.org/t/how-to-format-date-for-display/3586
			  if (value) {
			    return moment(String(value)).format('MM/DD/YYYY')
			  }
			})
			Vue.filter('toCurrency', function (value) {  // Thanks to https://stackoverflow.com/questions/43208012/how-do-i-format-currencies-in-a-vue-component
			    if (typeof value !== "number") {
			        return value;
			    }
			    var formatter = new Intl.NumberFormat('en-US', {
			        style: 'currency',
			        currency: 'USD',
			        minimumFractionDigits: 2
			    });
			    return formatter.format(value);
			});
			Vue.filter('phone', function (phone) {  // Thanks to https://gist.github.com/kkiernan/7475b615485344f2fdf3
			    return phone.replace(/[^0-9]/g, '')
			                .replace(/(\d{3})(\d{3})(\d{4})/, '($1)-$2-$3'); // includes hyphen after areacode, per spec ToDo: confirm spec
//		                .replace(/(\d{3})(\d{3})(\d{4})/, '($1) $2-$3'); // excludes hyphen after areacode, per common usage
			});

      const App = new Vue({
        el: '#account-grid',
        data: {
					accounts: []
				},
// Sample data for offline testing
//        data: {
//					accounts: [
//						{"Id":1,"FirstName":"Emma","LastName":"Smith","Email":"emma.smith@email.com","PhoneNumber":"5555559483","AmountDue":84.22,"PaymentDueDate":"2019-08-01T00:00:00+00:00","AccountStatusId":0},
//						{"Id":2,"FirstName":"Noah","LastName":"Johnson","Email":"noah.johnson@email.com","PhoneNumber":"5555557383","AmountDue":123.76,"PaymentDueDate":"2019-08-16T00:00:00+00:00","AccountStatusId":0},
//						{"Id":3,"FirstName":"Abigail","LastName":"Williams","Email":"abigail.williams@email.com","PhoneNumber":"5555553928","AmountDue":42.45,"PaymentDueDate":"2019-08-13T00:00:00+00:00","AccountStatusId":0},
//						{"Id":4,"FirstName":"Mason","LastName":"Brown","Email":"mason.brown@email.com","PhoneNumber":"5555550394","AmountDue":0.0,"PaymentDueDate":null,"AccountStatusId":1},
//						{"Id":5,"FirstName":"Emily","LastName":"Miller","Email":"emily.miller@email.com","PhoneNumber":"5555556958","AmountDue":355.67,"PaymentDueDate":"2019-07-11T00:00:00+00:00","AccountStatusId":2},
//						{"Id":6,"FirstName":"Michael","LastName":"Davis","Email":"michael.davis@email.com","PhoneNumber":"5555550394","AmountDue":0.0,"PaymentDueDate":null,"AccountStatusId":1},
//						{"Id":7,"FirstName":"Joshua","LastName":"Garcia","Email":"joshua.garcia@email.com","PhoneNumber":"5555559283","AmountDue":98.35,"PaymentDueDate":"2019-07-19T00:00:00+00:00","AccountStatusId":2}
//					]
//        },
			  mounted() {
			  	console.log('mounted:', this);
			    getAccounts()
			    .then(apiData => this.accounts = apiData); 

		      // ToDo: refactor into a service
		      async function getAccounts() {  

						var proxyUrl = 'https://cors-anywhere.herokuapp.com/',  // use reverse proxy to avoid cors error !! ToDo: NOT A PRODUCTION SOLUTION
		    				targetUrl = 'https://frontiercodingtests.azurewebsites.net/api/accounts/getall'
					  	// ToDo: move url to constant or, better, to config
		    	  try {
					    const response = await fetch(proxyUrl + targetUrl);
					    const apiData = await response.json();
					    return apiData;
					  } catch (error) {
					    console.error(error)
					  }
					}
			  },
				computed: {
					// ToDo: refactor this filter to accountsByStatus(accounts, statusId)
					// ToDo: define StatusIds in enum, preferably as part of published api (i.e. with swagger or something similar)
				  activeAccounts: function () {
				    return this.accounts.filter(function (account) {
				      return account.AccountStatusId === 0
				    })
				  },
				  inactiveAccounts: function () {
				    return this.accounts.filter(function (account) {
				      return account.AccountStatusId === 1
				    })
				  },
				  overdueAccounts: function () {
				    return this.accounts.filter(function (account) {
				      return account.AccountStatusId === 2
				    })
				  },
				},
      })
      
    </script>
  </body>
</html>
